body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    }
    
    header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    }
    
    nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    }
    
    nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    }
    
    nav li {
    display: inline-block;
    margin-right: 20px;
    }
    
    nav li:last-child {
    margin-right: 0;
    }
    
    nav a {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    }
    
    nav a:hover {
    color: #3f52e7;
    }
    
    .active {
    color: #7d79ba;
    }
    
    main {
    max-width: 800px;
    margin: 20px auto;
    padding: 0 20px;
    }
    
    .about-us {
    margin-bottom: 40px;
    }
    
    .about-us h1 {
    font-size: 36px;
    margin-top: 0;
    }
    
    .about-us p {
    font-size: 18px;
    line-height: 1.5;
    }
    a {
        display: block;
        background-color: #8c95d0;
        color: #1c25a2;
        padding: 10px;
        text-align: center;
        text-decoration: none;
        border-radius: 5px;
        margin-top: 10px;
    }
 